


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

.logo {
    padding: 0px 0px 0px 10px;
    font-size: 18px;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, .quote {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    height: 400px;
}

#quoteText {
    font-size: 32px;
}

#quoteAuthor {
    align-self: flex-end;
}

.newQuote {
    margin: 60px 0px 0px 0px;
}

#newQuoteButton {
    background: transparent;
    border: solid 2px;
    padding: 20px 35px 20px 35px;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
    outline: none;
}

footer {
    width: 90%;
    height: 10vh;
}

.gitHub {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gitHubLogo {
    width: 2%;
    margin-left: 10px;
}

@media screen and (max-width: 640px) {
    body {
        background-color: rgb(194, 50, 50);
    }
}